{% extends 'default/layout.html.twig' %}

{% block title %}Empty website{% endblock %}

{% block body %}
    <h1> Hello world </h1>

    <img src="{{ path('get-image',{'url': 'http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'}) }}"
{% endblock %}
