<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="content">
        {% include 'default/blocks/_header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'default/blocks/_footer.html.twig' %}

    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>