<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>